
section{
    background-color: cornflowerblue;
    fill-opacity: .5;
}
header{
    background-color: mediumpurple;
}
span.carousel-control-next-icon{
   background-color: blueviolet;
    opacity: 1;
    width:40px;
    height: 40px;

}
span.carousel-control-prev-icon{
   background-color: blueviolet;
    opacity: 1;
    width:40px;
    height: 40px;
}
ul.carousel-indecators{
    background-color: rebeccapurple;
}
 li.active{
    background-color: rebeccapurple;
}
div.carousel-item{
    width:100%;
    height:300px;
    opacity:.9;
    
}
.leftPanel {
    width: 300px;
    height: 350px;
    padding: 20px;
    float: left;
    border: solid 2px darkcyan;
    border-radius: 10px;
    background-color:cyan;
}
.card-body>img:hover{
    width:250px;
    height:200px;
    transition:2s;
    transform: scale(1.1);
}


/*.rightPanel {
    display: inline-flex;
    width: 300px;
    padding: 20px;
    float: right;
    position: relative;
}*/

footer {
    position: relative;
    background-color: #232F3E;
    color: white;
    margin: 0px;
}

a {
    color: white;
}
div.modal-content {
    border: 2px solid slateblue;
    background-color:whitesmoke;
    
}
div.modal-header {
    justify-content: center;
    background-color: slateblue;
      
  }
  div.modal-body {
    background-color: pink;
    border:0px;
      
  }
div.modal-footer {
  justify-content:space-between;
  background-color: purple;
    
}
.modal-title {
    color: black;
}
span.badge{
    font-size: 100%;
}
.btn.btn-warning{
    background: white;
}
select.ng-pristine.ng-valid.ng-not-empty.ng-touched{
    color:blueviolet;
    font-weight:700;
}
.btn-group.btn-group__search{
    height:60px;
}
.btn-group.btn-group__search select{
    width:68px;
}
.btn-group.btn-group__search input{
    width:350px;
}


/*@media only screen and (max-width: 400px) {
    .btn-group.btn-group__search input{
        width:100px;
    }
    .btn-group.btn-group__search select{
        width:50px;
    }
  }*/


/* -webkit-, -moz-, -o- vendor prefixes omitted for brevity.
    See http://css-tricks.com/snippets/css/keyframe-animation-syntax/
    */
   /* .slidein-from-right {
        animation: slidein-from-right 500ms;
    }
    @keyframes slidein-from-right {
        from {
            margin-left: 100%;
            width: 300%;
            opacity: 0;
        }
        to {
            margin-left: 0%;
            width: 100%;
            opacity: 1;
        }
    }
    .slidein-from-left {
        animation: slidein-from-left 500ms;
    }
    @keyframes slidein-from-left {
        from {
            margin-right: 100%;
            width: 300%;
            opacity: 0;
        }
        to {
            margin-right: 0%;
            width: 100%;
            opacity: 1;
        }
    }*/
    /*app.controller("LoginController", function ($scope, $http) {
    $scope.userDetails = [];
    $http.get("http://127.0.0.1:8080/userDetails")
        .then(function (response) {
            $scope.userDetails = response.data;
        })
    $scope.Login = function () {
        $scope.txtName = "";
        $scope.txtPwd = "";
        for (var i = 0; i < $scope.userDetails.length; i++) {
            alert($scope.txtName);
            if ($scope.userDetails[i].UserName == $scope.txtName && $scope.userDetails[i].Password == $scope.txtPwd) {
                location.href = "index.html";
                break;
            } else {
                location.href = "error.html";
            }
        }
    }
})*/